<section class="py-5">
  <ul class="timeline" *ngFor="let company of companies">
    <li class="timeline-item mb-5">
      <h5 class="fw-bold">{{ company.name }}</h5>
      <p class="text-muted mb-2 fw-bold">
        {{ company.employmentType }},
        {{ calculateTenure(company.startDate, company.endDate) }}
      </p>

      <ul class="timeline" *ngFor="let title of company.titles">
        <li class="timeline-item mb-5">
          <h5 class="fw-bold">{{ title.title }}</h5>
          <p class="text-muted mb-2 fw-bold">
            {{ title.startDate.format("MMM YYYY") }} -
            {{ title.endDate ? title.endDate.format("MMM YYYY") : "Present" }},
            {{ calculateTenure(title.startDate, title.endDate) }}
          </p>
          <div
            class="card text-muted"
            *ngFor="let achievement of title.achievements"
          >
            <div class="card-body">
              <p class="card-text">{{ achievement.achievement }}</p>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</section>
