<!-- <div
  class="d-flex justify-content-center align-items-center"
> -->
<section>
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 mb-4">
      <h6>Drop me an email on</h6>
      <a
        class="btn btn-danger w-100 email-btn"
        href="mailto:dasguptatirthyakamal@gmail.com"
        mdbRipple
        >dasguptatirthyakamal&#64;gmail.com</a
      >
      <br />
      <br />
      <a
        class="btn btn-info w-100 email-btn"
        href="mailto:dasguptatirthyakamal@outlook.com"
        mdbRipple
        >dasguptatirthyakamal&#64;outlook.com</a
      >
      <br />
      <br />
      <h6>Call or WhatsApp me on</h6>
      <a class="btn btn-success w-100" href="tel:+91 8240693916" mdbRipple
        >+91 8240693916</a
      >
      <br />
      <br />
      <a class="btn btn-success w-100" href="tel:+91 8017352824" mdbRipple
        >+91 8017352824</a
      >
      <br />
      <br />
      <h6>If you live nearby, we can always sit over a cup of at</h6>
      <p>
        Block B and C, New Tollygunge, Aurobindo Park, South Kolkata, West
        Bengal 700093
      </p>
      <h6>Follow me on</h6>
      <a
        *ngFor="let socialAccount of socialAccounts"
        href="{{ socialAccount.link }}"
        target="_blank"
        ><fa-icon
          [icon]="socialAccount.icon"
          size="2xl"
          [ngStyle]="{ color: socialAccount.color }"
        />
      </a>
    </div>
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7">
      <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            mdbValidate
            type="input"
            id="first_name_input"
            class="form-control"
            formControlName="firstName"
          />
          <label mdbLabel class="form-label" for="first_name_input"
            >First name</label
          >
          <mdb-error
            *ngIf="
              firstName?.invalid && (firstName?.dirty || firstName?.touched)
            "
            >{{ getFirstNameErrorMessage() }}</mdb-error
          >
          <mdb-success
            *ngIf="firstName?.valid && (firstName?.dirty || firstName?.touched)"
            >Looks good!</mdb-success
          >
        </mdb-form-control>
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="input"
            id="middle_name_input"
            class="form-control"
            formControlName="middleName"
          />
          <label mdbLabel class="form-label" for="middle_name_input"
            >Middle name</label
          >
          <mdb-success
            *ngIf="
              middleName?.valid && (middleName?.dirty || middleName?.touched)
            "
            >Looks good!</mdb-success
          >
        </mdb-form-control>
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="input"
            id="last_name_input"
            class="form-control"
            formControlName="lastName"
          />
          <label mdbLabel class="form-label" for="last_name_input"
            >Last name</label
          >
          <mdb-error
            *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
            >{{ getLastNameErrorMessage() }}</mdb-error
          >
          <mdb-success
            *ngIf="lastName?.valid && (lastName?.dirty || lastName?.touched)"
            >Looks good!</mdb-success
          >
        </mdb-form-control>
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="email"
            id="email_input"
            class="form-control"
            formControlName="email"
          />
          <label mdbLabel class="form-label" for="email_input">Email</label>
          <mdb-error
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            >{{ getEmailErrorMessage() }}</mdb-error
          >
          <mdb-success *ngIf="email?.valid && (email?.dirty || email?.touched)"
            >Looks good!</mdb-success
          >
        </mdb-form-control>
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="input"
            id="company_input"
            class="form-control"
            formControlName="company"
          />
          <label mdbLabel class="form-label" for="company_input">Company</label>
          <mdb-error
            *ngIf="company?.invalid && (company?.dirty || company?.touched)"
            >{{ getCompanyErrorMessage() }}</mdb-error
          >
          <mdb-success
            *ngIf="company?.valid && (company?.dirty || company?.touched)"
            >Looks good!</mdb-success
          >
        </mdb-form-control>
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="input"
            id="message_input"
            class="form-control"
            formControlName="message"
          />
          <label mdbLabel class="form-label" for="message_input">Message</label>
          <mdb-error
            *ngIf="message?.invalid && (message?.dirty || message?.touched)"
            >{{ getMessageErrorMessage() }}</mdb-error
          >
          <mdb-success
            *ngIf="message?.valid && (message?.dirty || message?.touched)"
            >Looks good!</mdb-success
          >
        </mdb-form-control>
        <button mdbRipple type="submit" class="btn btn-primary btn-block">
          Submit enquiry
        </button>
      </form>
    </div>
  </div>
</section>
<!-- </div> -->
